<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/assets/style.css">
  <title>Cadastro</title>
</head>

<body>
  <form action="/signup" method="POST">
    <label for="text">Login:</label>
    <input type="text" name="username">
    <label for="senha">Senha:</label>
    <input type="password" name="password">
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" max="12" min="12">
    <label for="cpf">CEP:</label>
    <input type="text" name="cep" max="8" min="8">

    <label for="genero">Gênero:</label>
    <div class="gender">
      <input type="radio" id="gender" name="gender" value="male">
      <label for="html">Masculino</label>
      <input type="radio" id="gender" name="gender" value="female">
      <label for="css">Feminino</label>
    </div>


    <label for="text">Seu nome:</label>
    <input type="text" name="name" >
    <label for="dtnasc">Data de Nascimento:</label>
    <input type="date" name="birth_date">
    <button class="btn" type="submit">Finalizar</button>
  </form>
</body>

</html>